// Colors
$primary: #40bfff;
$danger: #ff4858;
$dark: #373737;
$secondary: #bcddfe;
$discount-color: #fb7181;
$old-price-color: #9098b1;
$font-family: "Poppins", sans-serif;
$font-family-2: "Raleway", sans-serif;

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 400px) {
    @content;
  }
}
