$pending: #d0ab1c;
$processing: #ffa500;
$shipped: #4caf50;
$delivered: #1976d2;
$canceled: #d82a0c;

#orders {
  span.status {
    padding: 1px 10px;
    border-radius: 999px;
    text-transform: capitalize;
    border: 2px solid;
    white-space: nowrap;
    &.pending {
      color: $pending;
      border-color: $pending;
    }
    &.processing {
      color: $processing;
      border-color: $processing;
    }
    &.shipped {
      color: $shipped;
      border-color: $shipped;
    }
    &.delivered {
      color: $delivered;
      border-color: $delivered;
    }
    &.canceled {
      color: $canceled;
      border-color: $canceled;
    }
  }

  .products {
    span {
      color: #777777;
    }
  }
}
