@import "../../assets/style/components.scss";
#shop {
  > .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    padding-top: 30px;
    @include laptop {
      display: block;
    }
  }
  .banner {
    padding: 20px 50px;
    border-radius: 8px;
    .container {
      justify-content: center;
    }
    .text {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 16px;
      }
      a {
        font-size: 16px;
      }
    }
    .img {
      width: 40%;
      img {
        transform: rotateY(180deg);
      }
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    background-color: #f6f7f8;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 20px;
    overflow: hidden;
    .left {
      display: flex;
      gap: 40px;
      padding-left: 20px;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      select {
        background-color: transparent;
        border-color: #e0e0e0;
        border-radius: 3px;
        font-size: 14px;
        padding: 3px;
        cursor: pointer;
      }
      .filter-btn {
        display: none;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        svg {
          font-size: 20px;
        }
        @include laptop {
          display: flex;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      button {
        font-size: 20px;
        background-color: transparent;
        border: none;
        outline: transparent;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:not([data-active="true"]):hover {
          background-color: #f1f1f1;
        }
        &[data-active="true"] {
          background-color: #e6e6e6;
        }
      }
    }
    .ant-select-selector {
      background: transparent;
    }
  }

  .products {
    padding: 30px 0;
  }

  .ant-pagination {
    width: fit-content;
    margin: 20px auto 50px;
    li {
      height: auto;
    }
    .ant-pagination-item-link {
      font-size: 20px;
      width: 40px;
      height: 40px;
    }
    .ant-pagination-item {
      font-size: 20px;
      width: 40px;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &.ant-pagination-item-active {
        a {
          transition: none;
          color: #fff;
        }
        border-color: $primary;
        background-color: $primary;
      }
    }
  }

  .range-slider__thumb {
    width: 14px;
    height: 14px;
  }
  .range-slider {
    height: 5px;
  }
}
