@import "../../../assets/style/components.scss";
.filters {
  .filter {
    background-color: #f6f7f8;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    .title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      color: #22262a;
      margin-bottom: 15px;
    }
  }
  .brands-list,
  .categories-list,
  .sizes-list {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 0;
      cursor: pointer;
      user-select: none;
      &[data-active="true"] {
        color: $primary;
        .number {
          color: $primary;
        }
      }
      &:not([data-active="true"]) {
        cursor: pointer;
      }
      .number {
        color: rgba(33, 37, 41, 0.35);
      }
    }
  }
}
.price-filter {
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.color-filter {
  .colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .color {
    box-sizing: content-box;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &[data-active="true"] {
      width: 14px;
      height: 14px;
      border: 3px solid #fff;
      outline: 2px solid;
    }
  }
}
