@import "../../../assets/style/components.scss";
.addresses-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  .address {
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
    .body {
      padding: 20px;
      padding-top: 30px;
    }

    .badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: $primary;
      color: #fff;
      border-radius: 3px;
      padding: 2px 6px;
      text-align: center;
      margin-bottom: 10px;
      font-size: 12px;
    }

    .name {
      font-weight: bold;
      font-size: 20px;
    }
    p {
      font-size: 14px;
      color: #00000066;
    }
    b {
      display: block;
      padding: 3px 0;
      font-weight: 500;
    }
    .btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid #ccc;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      button {
        padding: 5px;
        font-size: 15px;
        font-weight: 500;
        &:first-child {
          border-right: 1px solid #ccc;
        }
        &:hover {
          background-color: #ececec;
        }
      }
    }
  }
  .add-address {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #ccc;
    border-radius: 10px;
    min-height: 187.5px;

    svg {
      color: #ccc;
      font-size: 50px;
      //   margin: auto;
    }
    h3 {
      font-weight: 500;
      font-size: 20px;
    }
  }
}

main#add-address {
  form {
    width: 520px;
    max-width: 100%;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  form {
    .control.address-control {
      grid-column: span 2;
      width: auto;
    }
  }
  @include tablet {
    .grid {
      grid-template-columns: 1fr;
    }
    form .control {
      width: 100%;
    }
    form .control.address-control {
      grid-column: auto;
    }
  }
}

.edit-address-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 80;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 600px;
  max-width: calc(100% - 30px);
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  form {
    width: 520px;
    margin: 0 auto;
    .control.address-control {
      grid-column: span 2;
      width: auto;
      textarea {
        min-height: 50px;
      }
    }
    .control {
      margin: 0;
    }
    button[type="submit"] {
      margin-top: 20px;
    }
  }
}
