@import "../../assets/style/components.scss";
.account-sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  a {
    display: block;
    color: #000;
    border: 2px solid rgb(100 116 139/0.1);
    padding: 6px 10px;
    border-radius: 6px;
    transition: 200ms;
    &:hover {
      color: $primary;
      border-color: $primary;
    }

    &[data-active="true"] {
      // font-weight: bold;
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }
  }
}

.account-page {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  .control {
    width: 250px;
    max-width: 100%;
  }
  h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
